:root{
    --button-height: 3rem;
    --color-text: rgba(0,0,0,.25);
    --color-text-shadow: rgba(255,255,255,.15);
    --color-page-bg:#B9B5AA;
    --color-bg:#899095;
    --color-bg-light:#969DA3;
    --color-bg-dark: #7D878F;
    --color-overlay-light: rgba(255,255,255,.2);
    --color-overlay-medium: rgba(0,0,0,.1);
    --color-overlay-dark: rgba(0,0,0,.2);
    --color-tab-focus: rgba(255,255,255,.15);
  }

body {
    font-family: 'Press Start 2P', cursive;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('./img/snake-creative-minimalism.jpg');
}

.contenedor {
    margin: 0 auto;
    background-color: #0c0c0e;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 5px 19px 9px rgba(255,255,255,0.52) inset;
    -webkit-box-shadow: 3px 5px 19px 9px rgba(255,255,255,0.52) inset;
    -moz-box-shadow: 3px 5px 19px 9px rgba(255,255,255,0.52) inset;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header-text {
    color: #6dbd13;
    text-shadow: -2px 4px 21px rgba(220,219,77,0.6);
    margin-bottom: 0.5em;
}

.grid-container {
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.grid {
    width: 200px;
    height: 200px;
    border: 5px inset #999595;
    display: flex;
    flex-wrap: wrap;
}

.squareStyle {
    height: 20px;
    width: 20px;
    border-radius: 6px;
}

.snake {
    background: radial-gradient(#6dbd13, #01020e);
}

.apples::before {
    content: "🍎";
}

.snake-animation {
    font-size: 2rem;
    margin-bottom: 0.5em;
    margin-top: 0;
    position: relative;
    animation-name: slidein;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; 
}
  
  @keyframes slidein {
    0% {
      right: -100px;
    }
    25% {
      right: -50px;
    }
    50% {
      right: 0px;
    }
    75% {
      right: 50px;
    }
  
    100% {
     right: 100px;
   }
  }


button {
    font-family: 'Press Start 2P', cursive !important; 
    padding: 0;
    border-style: none;
    background-color: #fff;   
}

.controls-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0px;
}

.horizontal-arrow-container {
    display: flex;
    justify-content:space-around;
    width: 100%;
}

.control-arrow {
    background-color: #0c0c0e;
}
.control-arrow:focus{
    outline:none;  
}

.fa-solid {
    font-size: 3rem;
    color: var(--color-bg);
    text-shadow: 1px 1px var(--color-text-shadow);    
}

#start {
    padding: 0.75em;
    font-size: 0.75rem;
}

.retro-button{
    position:relative;
    appearance:none;
    box-sizing:border-box;
    font-size:calc( var(--button-height) / 3 );
    background: var(--color-bg);
    height:var(--button-height);
    min-width:var(--button-height);
    border-radius:calc( var(--button-height) / 2);
    border:0;
    font-weight:800;
    text-transform:uppercase;
    color:var(--color-text);
    text-shadow: 1px 1px var(--color-text-shadow);
    cursor:pointer;
    margin:6px 6px;
    letter-spacing:.1em;
    transition: all 200ms ease;
    box-shadow:
      -1px  -1px 1px var(--color-bg), 
      0 0 0 4px var(--color-overlay-medium),
      1px  1px 1px var(--color-bg-dark), 
      inset .0 .0 .0 var(--color-overlay-dark),    
      inset .5rem .5rem .25rem var(--color-bg-light);
  }

  .retro-button::-moz-focus-inner{
    outline:none;
    border:none;
  }

  .retro-button:focus{
    outline:none;
  }

  .retro-button:active{
    box-shadow:
      inset 1px 1px 1px var(--color-bg),    
      0 0 0 4px var(--color-overlay-dark), 
      inset -1px -1px 1px var(--color-bg-light),     
      inset .5rem .5rem .75rem var(--color-bg-dark), 
      inset .5rem .5rem .5rem var(--color-bg-light), 
  }

@media (min-width:320px){
    .contenedor{
        width: 100%;
        max-width: 350px;
        
    }
  }